 <div class="row">
    <div class="col-sm-2">
      <div class="about-photo">
        <%= image_tag 'Ryan.png', alt: 'Missing image', class: "img-responsive img-circle" %>
        <h3 style="text-align: center">Ryan LeViseur</h3>
        <p>
          Marine Corps vet with a background spanning: networking, systems administration, and information security. When I am not nerding out with IT work, I enjoy gardening, hunting, being outdoors in nature, and spending time with my wife and 5 yr old pit bull. Currently researching: aquaponics and graph databases.
        </p>
        <ul class="list-unstyled about-list">
          <li>
            <%= mail_to 'ryanlev@gmail.com' do %>
              <i class="fa fa-envelope">&nbsp; ryanlev@gmail.com</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://github.com/vidkun' do %>
              <i class="fa fa-github-alt">&nbsp; github.com/vidkun</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://linkedin.com/in/ryanleviseur' do %>
              <i class="fa fa-linkedin-square">&nbsp; linkedin.com/in/ryanleviseur</i> 
              <% end %>
          </li>
        </ul>  
      </div>
    </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="about-photo">
        <%= image_tag 'Curtis.png', alt: 'Missing image', class: "img-responsive img-circle" %>
        <h3 style="text-align: center">Curtis McKee</h3>
        <p>
         I have no bio
        </p>
        <ul class="list-unstyled about-list">
          <li>
            <%= mail_to 'cmckee.dev@gmail.com' do %>
              <i class="fa fa-envelope">&nbsp; cmckee.dev@gmail.com</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://github.com/cmckee-dev' do %>
              <i class="fa fa-github-alt">&nbsp; github.com/cmckee-dev</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://linkedin.comXXXXXXX' do %>
              <i class="fa fa-linkedin-square">&nbsp; PLACEHOLDER</i> 
              <% end %>
          </li>
        </ul>  
      </div>
    </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="about-photo">
        <%= image_tag 'Rocio.png', alt: 'Missing image', class: "img-responsive img-circle" %>
        <h3 style="text-align: center">Rocio Soto</h3>
        <p>
          In my past life I was a Controller.  I am now hoping to leverage my financial background into a career that provides challenge, creativity and fun.  My other interests include travel, the outdoors, independent movies, Broadway shows and playing trivia.
        </p>
        <ul class="list-unstyled about-list">
          <li>
            <%= mail_to 'rsoto1@hotmail.com' do %>
              <i class="fa fa-envelope">&nbsp; rsoto1@hotmail.com</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://github.com/rsoto1' do %>
              <i class="fa fa-github-alt">&nbsp; github.com/rsoto1</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://linkedin.com/in/msrociosoto' do %>
              <i class="fa fa-linkedin-square">&nbsp; linkedin.com/in/msrociosoto</i> 
              <% end %>
          </li>
        </ul>  
      </div>
    </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="about-photo">
        <%= image_tag 'Alex.png', alt: 'Missing image', class: "img-responsive img-circle" %>
        <h3 style="text-align: center">Alex Burton</h3>
        <p>
          I enjoy doing front end work and UI design. I also love solving problems in the most efficient way I can while coding, whether it be HTML, CSS or jQuery.  I am seeking a career in what I love doing.  I have many accomplishments, including, traveling to other countries while I was drumming in marching band.  My favorite things to do, other than code, are to drum and listen to music.
        </p>
        <ul class="list-unstyled about-list">
          <li>
            <%= mail_to 'alex.burton1993@gmail.com' do %>
              <i class="fa fa-envelope">&nbsp; alex.burton1993@gmail.com</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://github.com/alexand3rsc0tt' do %>
              <i class="fa fa-github-alt">&nbsp; github.com/alexand3rsc0tt</i> 
              <% end %>
          </li>
          <li>
            <%= link_to 'https://linkedin.comXXXXXXX' do %>
              <i class="fa fa-linkedin-square">&nbsp; PLACEHOLDER</i> 
              <% end %>
          </li>
        </ul>  
      </div>
    </div>




  <div class="col-sm-12">
    <h3>
      Stats About Our App
      <%= link_to 'CSV Export', about_path(format: :csv), class: 'btn btn-xs btn-default' %>
    </h3>
      <h4>Has Many Relationships</h4>
      <%= get_has_many_assocations_formatted %>
      <hr>
        <h4>Total Lines of Code</h4>
        <%= get_loc_count_formatted %>
        <hr>
          <h4>Files Sorted by Lines of Code</h4>
          <%= get_loc_sorted_formatted %>



