<div class="row">
  <div class="col-lg-12">


    <!-- First Column -->
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               HTML
            </h3>
         </div>
         <div class="panel-body">
           <ul>
            <li><%= link_to "HTML Dog", 'http://www.htmldog.com/' %></li>
            <li><%= link_to "HTML cheat-sheet", 'http://websitesetup.org/HTML5-cheat-sheet.pdf' %></li>
          </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               CSS
            </h3>
         </div>
         <div class="panel-body">
            <ul>
              <li><%= link_to "CSS Overview", 'http://www.w3.org/Style/CSS/Overview.en.html' %></li>
              <li><%= link_to "Color Scheme Designer", 'http://paletton.com/' %></li>
              <li><%= link_to "CSS cheat-sheet", 'http://coding.smashingmagazine.com/wp-content/uploads/images/css3-cheat-sheet/css3-cheat-sheet.pdf' %></li>
            </ul>
         </div>
      </div>

      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               SASS
            </h3>
         </div>
         <div class="panel-body">
            <ul>
              <li><%= link_to "SCSS", 'http://sass-lang.com/' %></li>
            </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Javascript
            </h3>
         </div>
         <div class="panel-body">
           <ul>
              <li><%= link_to "Javascript Documentation", 'https://developer.mozilla.org/en-US/docs/Web/JavaScript' %></li>
              <li><%= link_to "Eloquent Javascript", 'http://eloquentjavascript.net/' %></li>
              <li><%= link_to "Phantom Javascript", 'http://phantomjs.org/' %></li>
              <li><%= link_to "Angular Javascript", 'https://angularjs.org/' %></li>
              <li><%= link_to "Coffee Script", 'http://coffeescript.org/' %></li>
            </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               jQuery
            </h3>
         </div>
         <div class="panel-body">
            <ul>
               <li><%= link_to "jQuery", 'https://jquery.com/' %></li>
               <li><%= link_to "jQuery API Documentation", 'https://api.jquery.com/' %></li>
             </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               AJAX
            </h3>
         </div>
         <div class="panel-body">
            <ul>
              <li><%= link_to "Ajax Documentation", 'http://learn.jquery.com/ajax/' %></li>
            </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Bootstrap
            </h3>
         </div>
         <div class="panel-body">
            <ul>
              <li><%= link_to "Bootstrap", 'http://getbootstrap.com' %></li>
              <li><%= link_to "Font Awesome", 'http://http://fortawesome.github.io/Font-Awesome/' %></li>
            </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Typography - Fonts
            </h3>
         </div>
         <div class="panel-body">
            <ul>
              <li><%= link_to "Google Fonts", 'http://www.google.com/fonts' %></li>
              <li><%= link_to "Adobe Web Fonts", 'https://edgewebfonts.adobe.com/fonts' %></li>
              <li><%= link_to "Font Squirrel", 'http://www.fontsquirrel.com/' %></li>
            </ul>
         </div>
      </div>
    </div>


    <!-- Second Column -->
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Ruby
            </h3>
         </div>
         <div class="panel-body">
            <ul>
            <li><%= link_to "Ruby Documentation", 'http://www.ruby-doc.org' %></li>
            <li><%= link_to "Wiki Ruby Programming", 'https://en.wikibooks.org/wiki/Ruby_Programming' %></li>
            <li><%= link_to "Reddit Ruby", 'http://www.reddit.com/r/ruby' %></li>
            <li><%= link_to "Learn Ruby the Hard Way", 'http://ruby.learncodethehardway.org/' %></li>
            <li><%= link_to "Ruby Monk", 'https://rubymonk.com/' %></li>
            <li><%= link_to "Ruby Tapas", 'http://www.rubytapas.com/' %></li>
            </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Ruby on Rails
            </h3>
         </div>
         <div class="panel-body">
           <ul>
          <li><%= link_to "Wiki Ruby on Rails", 'https://en.wikibooks.org/wiki/Ruby_on_Rails' %></li>
          <li><%= link_to "Rails Casts", 'http://railscasts.com/' %></li>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Stack Overflow
            </h3>
         </div>
         <div class="panel-body">
           <ul>
             <li><%= link_to "Stack Overflow", 'http://stackoverflow.com/' %></li>
          </ul>
         </div>
      </div>
    </div>



<!-- Third Column -->
<div class="col-md-4">
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
          Unix Command Line
        </h3>
     </div>
     <div class="panel-body">
       <ul>
         <li><%= link_to "Command Line cheat-sheet", 'http://www.nullptr.me/2013/06/03/command-line-cheat-sheet/' %></li>
         <li><%= link_to "Command Line Crash Course", 'http://cli.learncodethehardway.org/book/' %></li>
         <li><%= link_to "Z Shell", 'http://zsh.sourceforge.net/' %></li>
         <li><%= link_to "Z Shell Github", 'https://github.com/robbyrussell/oh-my-zsh' %></li>
      </ul>
     </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
           Git - Github
        </h3>
     </div>
     <div class="panel-body">
       <ul>
        <li><%= link_to "Git Ready", 'http://gitready.com/' %></li>
        <li><%= link_to "Git SCM", 'http://git-scm.com/' %></li>
        <li><%= link_to "Github", 'https://github.com/' %></li>
        <li><%= link_to "Github - Guides", 'https://guides.github.com/' %></li>
      </ul>
     </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
          Atom - Github's Text Editor
        </h3>
     </div>
     <div class="panel-body">
       <ul>
         <li><%= link_to "Atom", 'https://atom.io/' %></li>
         <li><%= link_to "Atom Github", 'https://github.com/atom/atom' %></li>
      </ul>
     </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
           Sublime Text Editor
        </h3>
     </div>
     <div class="panel-body">
       <ul>
         <li>
           <%= link_to "Sublime Text", 'http://www.sublimetext.com/' %>
         </li>
      </ul>
     </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
           Ruby Mine IDE
        </h3>
     </div>
     <div class="panel-body">
       <ul>
         <li><%= link_to "Ruby Mine", 'http://www.jetbrains.com/ruby/' %></li>
      </ul>
     </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
           Google's Chrome Deveveloper Tools
        </h3>
     </div>
     <div class="panel-body">
       <ul>
         <li><%= link_to "Chrome Dev Tools", 'https://developer.chrome.com/devtools' %></li>
         <li><%= link_to "Codeshool Chrome Dev Tools basics", 'http://discover-devtools.codeschool.com/' %></li>
      </ul>
     </div>
  </div>
</div>
    <!-- End lg-12  -->
  </div>

  </div>
