 <%= form_for [:staff, @course] do |f| %>
  <!-- Check if there were any errors saving course and display them if so -->
  <% if @course.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited
          this course from being saved:</h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Begin rendering the form -->
  <div class= 'form-group'>
    <%= f.label :name, 'Course Title:' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>  
  <div class= 'form-group'>
    <%= f.label :description, 'Course Description:' %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class= 'form-group'>
    <%= f.label :duration, 'Course Duration:' %><br>
    <%= f.select :duration, options_for_select(%w[months weeks]), class: 'form-control' %>
  </div>
  <div class= 'form-group'>
    <%= f.label :price, 'Course Price:' %><br>
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  
  <%= f.submit 'Submit', class: 'btn btn-primary' %> 
  
  <%= link_to 'Back', staff_courses_path, class: 'btn btn-danger' %>
<% end %>