<%- page_header @course.name %>
<h4>Duration: <%= "#{@course.duration} #{@course.duration_unit}" %> | Price: $<%= @course.price %></h4>
<p><%= @course.description %></p>
<%= button_to 'Edit Course', edit_staff_course_path,
                              class: "btn btn-primary",
                              method: :get%>
<%= button_to 'Delete Location', staff_course_path(@course),
                              class: "btn btn-primary",
                              method: :delete%>




