<h1><%= @course.name %></h1>
<h4>Duration: <%= @course.duration %> | Price: $<%= @course.price %></h4>
<p><%= @course.description %></p>
<%= link_to 'Edit Course', edit_staff_course_path,
                              class: "btn btn-primary",
                              method: :get%>
<%= link_to 'Back', staff_courses_path,
                              class: "btn btn-default",
                              method: :get%>