<div class="row">
  <div class="col-lg-12">

    <!-- First Column -->
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               HTML
            </h3>
         </div>
         <div class="panel-body">
           <ul>
            <li><%= link_to "HTML Dog", 'http://www.htmldog.com/' %></li>
          </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               CSS
            </h3>
         </div>
         <div class="panel-body">
            Panel content
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Javascript
            </h3>
         </div>
         <div class="panel-body">
            Panel content
         </div>
      </div>
    </div>

    <!-- Second Column -->
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Ruby
            </h3>
         </div>
         <div class="panel-body">
            <ul>
            <li><%= link_to "Officail Ruby Documentation", 'http://www.ruby-doc.org' %></li>
            <li><%= link_to "Wiki Ruby Programming", 'https://en.wikibooks.org/wiki/Ruby_Programming' %></li>
            <li><%= link_to "Reddit Ruby", 'http://www.reddit.com/r/ruby' %></li>
            <li><%= link_to "Learn Ruby the Hard Way", 'http://ruby.learncodethehardway.org/' %></li>
            <li><%= link_to "Ruby Monk", 'https://rubymonk.com/' %></li>
            <li><%= link_to "Ruby Tapas", 'http://www.rubytapas.com/' %></li>
            </ul>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Ruby on Rails
            </h3>
         </div>
         <div class="panel-body">
           <ul>
          <li><%= link_to "Wiki Ruby on Rails", 'https://en.wikibooks.org/wiki/Ruby_on_Rails' %></li>
          <li><%= link_to "Rails Casts", 'http://railscasts.com/' %></li>
         </div>
      </div>
    </div>

<div class="col-md-4">
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
           Git - Github
        </h3>
     </div>
     <div class="panel-body">
       <ul>
        <li><%= link_to "Official Git Website", 'http://gitready.com/' %></li>
        <li><%= link_to "Git SCM", 'http://git-scm.com/' %></li>
        <li><%= link_to "Official Github Guides", 'https://guides.github.com/' %></li>
      </ul>
     </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">
           Text Editors
        </h3>
     </div>
     <div class="panel-body">
       <ul>
        <li><%= link_to "Atom", 'https://atom.io/' %></li>
        <li><%= link_to "Official Atom Github", 'https://github.com/atom/atom' %></li>
      </ul>
     </div>
  </div>
</div>
    <!-- End lg-12  -->
  </div>

  </div>
