<%= form_for([:board, @conversation]) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>
      <ul>
      <% @conversation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title, :class => "form-control" %>
  <br>
  <%= f.label :description %><br>
  <%= f.text_area :description, :class => "form-control", :rows => "10" %>
</div>
<br>
<div class="actions">
  <%= f.submit :class => "btn btn-default" %>
</div>
<% end %>
