<% title @conversation.title  %>

<table class="table discussion">
  <tr>
    <th width="100%">Conversation Description</th>
  </tr>
  <tr class="active">
    <td>
      <p><%= @conversation.description %></p>
    </td>
  </tr>
</table>
<p><%= button_to "New Comment", new_board_conversation_comment_path(@board, @conversation), :class => "btn btn-primary btn-xs", method: 'get', remote: true %></p>
<div id="modalDiv">
</div>
<br>
<br>
<% @conversation.comments.each do |comment| %>
<div class="comment">
  <span class="left">
    <% if comment.user.github_authorized? %>
    <%= image_tag comment.user.github_profile.image, { width: 90,
                                                       height: 90 } %><br>
    <%= comment.user.github_profile.username %>
    <% else %>
      <%= comment.user.first_name %>
    <% end %><br>
    Comments: <%= comment.user.comments.count %><br>
    <% if current_user.staff? %>
    <%= link_to "Delete", board_conversation_comment_path(@conversation.board, @conversation, comment), :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </span>
  <span class="right"><%= comment.body %></span>
</div>
<% end %>

<!-- TODO Change link so 'delete' just deletes comment not whole conversation -->
<!-- <%= link_to "Delete", @comment, :confirm => 'Are you sute?', :method => :delete %> -->
