<% title @conversation.title  %>


<table class="table">
  <tr>
    <th width="20%">Conversation Creator</th>
    <th width="80%">Conversation Description</th>
  </tr>
  <tr>
    <td>
      <p><%= current_user.first_name %>
    <td>
      <p><%= @conversation.description %></p>
    </td>
  </tr>
</table>

<% @conversation.comments.each do |comment| %>

<div class="comment">
  <span class="left"><%= comment.user.first_name %><br />
    <%= link_to "Delete", @comment, :confirm => 'Are you sute?', :method => :delete%></span>
  <span class="right"><%= comment.body %></span>
</div>
<% end %>

<p><%= link_to "New Comment", new_board_conversation_comment_path(@board, @conversation) %></p>
