<div class="row">
  <div class="col-md-4">
    <h2><%= @user.first_name + ' ' + @user.last_name %></h2>
    <h4><%= @user.email %></h4>
    <p>Hometown: <%= @user.hometown %></p>
    <p>GitHub Username: <%= @user.github_username %></p>
    <p>GitHub Email: <%= @user.github_email %></p>
  </div>
  <div class="col-md-8">
    <%= button_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary pull-right", method: :get%>
  </div>
</div>
