<%- page_header @user.first_name + ' ' + @user.last_name %>
<div class="row">
  <div class="col-md-4">
    <img src="http://placehold.it/200x220" class="img-circle">
  </div>
  <div class="col-md-8">
    <% unless @user.github_profile.nil? || @user.github_profile.image.nil? %>
    <%= image_tag @user.github_profile.image, { width: 200,
                                                  height: 200 } %>
    <% end %>
    <h4 class="info"><%= @user.email %></h4>
    <p class="info">Hometown: <%= @user.hometown %></p>
    <p class="info">GitHub Username: <%= @user.github_profile.username if @user.github_profile %></p>
    <%= button_to 'Edit Profile', edit_user_registration_path,
                                  class: "btn btn-primary",
                                  method: :get%>
    <% unless @user.github_authorized? %>
      <% authorize_url = Octokit.authorize_url(ENV['GITHUB_CLIENT_ID'],
                                               scope: 'repo,user',
                                               redirect_uri: github_callback_url,
                                               state: @user.github_state) %>
      <%= link_to("Connect to GitHub", authorize_url,
                                       class: 'btn btn-primary') %>
    <% end %>
  </div>
</div>



