 <%= form_for [:staff, @member], url: staff_members_path do |f| %>
  <!-- Begin rendering the form -->
  <div class= 'form-group'>
    <%= f.label :first_name, 'First Name:' %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class= 'form-group'>
    <%= f.label :last_name, 'Last Name:' %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class= 'form-group'>
    <%= f.label :email, 'Email:' %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %> 
  
  <%= link_to 'Back', staff_base_admin_path, class: 'btn btn-default' %>
  <% end %>
