<%- page_header @member.first_name + ' ' + @member.last_name %>
<div class="row">
  <div class="col-md-4">
    <img src="http://placehold.it/200x220" class="img-circle">
    <h4><%= @member.email %></h4>
    <p>Hometown: <%= @member.hometown %></p>
    <p>GitHub Username: <%= @member.github_profile.username if @member.github_profile %></p>
  </div>
  <div class="col-md-8">
    <%= button_to 'Edit Staff Member', edit_staff_member_path(@member),
                              class: "btn btn-primary",
                              method: :get%>
    <%= button_to 'Delete Staff Member', staff_member_path(@member),
                              class: "btn btn-primary",
                              method: :delete %>
  </div>
</div>



