<% title @board.title  %>

<table>
  <tr>
    <th width="60%">Conversation Title</th>
    <th width="10%">Comments</th>
    <th width="30%">Last Comment</th>
  </tr>
  <% for conversation in @board.conversations %>
    <tr>
      <td><%= link_to h(conversation.title), board_conversation_path(@board, conversation) %>
      <td><%= conversation.comments.count %></td>
      <td class="right"></td>
      <td><%= link_to "Show", board_conversation_path(@board, conversation) %></td>
      <td><%= link_to "Edit", edit_board_conversation_path(@board, conversation) %></td>
      <td><%= link_to "Destroy", board_conversation_path(@board, conversation), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Conversation", new_board_conversation_path(@board) %></p>
