<%= link_to 'List Locations', staff_locations_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'List Cohorts', staff_cohorts_path %><br>
<%= link_to 'Add Cohort', new_staff_cohort_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<div class="row">
  <div class="col-md-9">
  <ul id="sortable">
    <li class="ui-state-default">Badges</li>
    <li class="ui-state-default">News</li>
    <li class="ui-state-default">Coursework</li>
    <li class="ui-state-default">Github</li>
  </div>
  <div class="col-md-3">
    <ul id="sortable2">
    <li class="ui-state-default">Today's Schedule</li>
    <li class="ui-state-default">Calendar</li>
    <li class="ui-state-default">To Do List</li>
</ul>
</div>
</div>