<h1>Staff::Base#index</h1>
<p>This is just a temporary view. This will become the default dashboard page for staff.</p>
<p>When a staff member logs in, he will be redirected to this page. It will load all of his dashboard widgets, the site nav header, the sidebar, and any other content for the base landing page.</p>

<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'List Locations', staff_locations_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
<%= link_to 'Add Location', new_staff_location_path %><br>
