<%= link_to 'Add Cohort', new_staff_cohort_path, class: 'btn btn-primary'%><br><br>


<div class="row">
  <div class="col-lg-12">

  <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Cohort 1
            </h3>
         </div>
         <div class="panel-body">
            <%= link_to 'Class Schedule', root_path %><br>
            <%= link_to 'Manage Students', root_path %><br>
            <%= link_to 'Coursework', root_path %><br>
            <%= link_to 'Announcements', root_path %><br>
            <%= link_to 'Events', root_path %><br>
            <%= link_to 'Notifications', root_path %><br>
            <%= link_to 'Web Resources', root_path %><br>
         </div>
      </div>
   </div>   

  <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Cohort 2
            </h3>
         </div>
         <div class="panel-body">    
            <%= link_to 'Class Schedule', root_path %><br>
            <%= link_to 'Manage Students', root_path %><br>
            <%= link_to 'Coursework', root_path %><br>
            <%= link_to 'Announcements', root_path %><br>
            <%= link_to 'Events', root_path %><br>
            <%= link_to 'Notifications', root_path %><br>
            <%= link_to 'Web Resources', root_path %><br>
         </div>
      </div>
   </div>   

   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Cohort 3
            </h3>
         </div>
         <div class="panel-body">    
            <%= link_to 'Class Schedule', root_path %><br>
            <%= link_to 'Manage Students', root_path %><br>
            <%= link_to 'Coursework', root_path %><br>
            <%= link_to 'Announcements', root_path %><br>
            <%= link_to 'Events', root_path %><br>
            <%= link_to 'Notifications', root_path %><br>
            <%= link_to 'Web Resources', root_path %><br>
         </div>
      </div>
   </div>

 



  