<h1><%= @assignment.name %></h1>
<h5>
Category: <%= @assignment.category %> | 
Due: <%= @assignment.due_date.to_s(:long_ordinal) %>
</h5>
<br>
<h4>Assignment Description:</h4>
<p><%= @assignment.description %></p>
<%= link_to 'Submit Answer', new_dashboard_assignment_answer_path(@assignment),
                             class: 'btn btn-primary btn-sm' %>
<%= link_to 'Back', dashboard_assignments_path, class: 'btn btn-sm btn-danger'%>