<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-desktop") + ' Dashboard', root_path %>
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-comments") + ' Discussion Board', boards_path %>
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-folder-open") + ' Assignments', dashboard_assignments_path %>
    </li>
    <li>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-fw fa-code") + ' Web Resources', web_resources_path %>
    </li>
    <li>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-fw fa-info-circle") + ' FAQ', faq_path %>
    </li>
  </ul>
</div>
