<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-desktop") + ' Dashboard', root_path %>
      <!-- <a href="index.html"><i class="fa fa-fw fa-desktop"></i> Dashboard</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-calendar") + ' Calendar', dashboard_calendar_path %>
      <!-- <a href="index.html"><i class="fa fa-fw fa-desktop"></i> Dashboard</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-users") + ' Community', root_path %>
      <!-- <a href="charts.html"><i class="fa fa-fw fa-users"></i> Community</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-envelope") + ' Messaging', root_path %>
      <!-- <a href="charts.html"><i class="fa fa-fw fa-envelope"></i> Messaging</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-comments") + ' Discussions', root_path %>
      <!-- <a href="tables.html"><i class="fa fa-fw fa-comments"></i> Discussions</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-check") + ' Project Manager', root_path %>
      <!-- <a href="tables.html"><i class="fa fa-fw fa-check"></i> Project Manager</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-folder-open") + ' Coursework', dashboard_assignments_path %>
      <!-- <a href="forms.html"><i class="fa fa-fw fa-folder-open"></i> Coursework</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-github") + ' Github Portal', root_path %>
      <!-- <a href="bootstrap-elements.html"><i class="fa fa-fw fa-github"></i> Github Portal </a> -->
    </li>
    <li>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-fw fa-code") + ' Code Resources', dashboard_webresources_path %>
      <!-- <a href=""><i class="fa fa-fw fa-code"></i> Code Resources </a> -->
    </li>
    <li>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-fw fa-info-circle") + ' FAQ', dashboard_FAQ_path %>
      <!-- <a href=""><i class="fa fa-fw fa-code"></i> Code Resources </a> -->
    </li>
  </ul>
</div>
