<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Beakr 2.0 Capstone" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper"> <!-- body wrapper -->
      <%= render '/layouts/nav' %>
      <div class="page-wrapper-header"> <!-- Header main content wrapper -->
        <div class='breadcrumb'>
          <%= build_breadcrumb(request.path) %>
        </div>
        <div class="page-wrapper"> <!-- Main content wrapper -->
          <div class="container-fluid">
          <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer">
        <p class="Copyright">&copy<%= link_to 'DevPoint Labs 2014', 'http://devpointlabs.com' %></p>
        <p class="Copyright"><%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %></p>
      </div>
    </div>
  </body>
</html>
