<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper"> <!-- body wrapper -->
      <%= render '/layouts/nav' %>
      <div id="page-wrapper"> <!-- Main content wrapper -->
        <div class="container-fluid">
          <%= yield %>
      </div>
    </div>
  </body>
  <footer>
    <p class="Copyright">&copy; DevPoint Labs 2014</p>
  </footer>
</html>
